.root-stack {
	-fx-padding: 10;
	
	-fx-border-image-source: url("../images/border_pic.png");
	-fx-border-image-slice: 0 0 0 0 fill;
	-fx-border-image-width: 0 0 0 0;
	-fx-border-image-repeat: stretch;

}

.root-pane {
	-fx-background-image: url("../images/bg_pattern.png");
}

.main-tool-bar {
	-fx-background-radius: 8;
	-fx-background-color: rgba(15,15,15,0.8);
}

.body .label {
	-fx-text-fill: white;
}

.grid-region {
	-fx-background-color: rgba(15,15,15,0.8);
	-fx-background-radius: 8;
}

.submit-button {
	-fx-background-color: linear-gradient(#f2f2f2, #d6d6d6),
		linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
		linear-gradient(#dddddd 0%, #f6f6f6 50%);
	-fx-background-radius: 5, 4, 3;
	-fx-background-insets: 0, 1, 2;
	-fx-padding: 4 8 4 8;

	-fx-cursor: hand;

	-fx-text-fill: black;
	-fx-font-size: 10px;
	-fx-font-weight: bold;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1
		);
}

.photo {
	-fx-border-radius: 4;
	-fx-border-style: solid;
	-fx-border-width: 2;
	-fx-border-color: white;
}

/* The main scrollbar **track** CSS class  */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
	-fx-background-image: url("../images/bg_pattern.png");
	-fx-border-color: transparent;
	-fx-background-radius: 8;
	-fx-border-radius: 8;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-padding: 0 0 0 0;

}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-padding: 0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding: 0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(white,50%);
	-fx-background-insets: 2;
	-fx-background-radius: 8;
}

.footer {
	-fx-background-radius: 8;
	-fx-background-color: rgba(15,15,15,0.8);
}